.form-services  div {
  margin-bottom: 10px;
}

.form-services select,
.form-services label,
.form-services input[type="text"] {
  width: 100%;
  border: 0;
  padding: 0; 
}

.form-services label {
  line-height: 25px;
}

.form-services select,
.form-services input[type="text"] {
  height: 27px;
  text-indent: 20px;
}

.form-services .group-button .btn{
  text-align:center;
  width: 48.5%;
  margin-top: 10px;
}

.form-services .is-outlined {
  background-color: white;
  color: #0F4C75 !important;
}

.form-services .is-outlined:hover {
  background-color: rgba(15,76,117,1);
  color: white !important;
}

.form-services .is-link {
  background-color: rgba(15,76,117,0.5);
}

.form-services .is-link:hover {
  background-color: rgba(15,76,117,1);
}
/*
  rgba(15,76,117,1);
  #0F4C75
  */
.form-services .btn {
  border: 2px solid rgba(15,76,117,1);
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  min-width: 70px;
  height: 27px;
  padding: 0 15px;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
}

.form-services fieldset {
  padding: 7px 7px 3px 7px;
  margin: 0;
  text-align: center;
}

.form-services fieldset div.polygon,
.form-services fieldset div.dot,
.form-services fieldset div.oval {
  background-color: rgba(15,76,117,0.5) !important;
  border: 1px solid rgba(15,76,117,1);
  display: inline-block;
  cursor: pointer;
  height: 40px;
  margin: 0;
  width: 40px;
}

.form-services fieldset div.polygon:hover,
.form-services fieldset div.dot:hover,
.form-services fieldset div.oval:hover {
  background-color: rgba(15,76,117,1);
  border: 1px solid white;
}

.form-services fieldset div.polygon {
  background: url("../img/polygon.png") no-repeat 50% 50%;
}

.form-services fieldset div.dot {
  background: url("../img/dot.png") no-repeat 50% 50%;
}

.form-services fieldset div.oval {
  background: url("../img/oval.png") no-repeat 50% 50%;
}