a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}
.tab-content {
  display: none;
  padding: 5px 10px;
  overflow-y: hidden; 
  height: 100%;
  margin-bottom: -150px;
}

/* Activa el scroll del menú */
.scroll-menu {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.scroll-menu input {
  display: none;
}

.scroll-menu label {
  color: #F1F1F6;
  display: inline-block;
  /*margin: 0 0 -1px;*/
  padding: 15px 15px;
  font-weight: 600;
  text-align: center;
  margin-left: -5px;
}

.scroll-menu input[name="tabs"] {
  position: absolute;
  z-index: 1000;
  width: 120px;
  height: 40px;
  left: 0px;
  top: 0px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 0;
  filter: alpha(opacity=0);
  display: none;
}

.scroll-menu input[name="tabs"]:hover + label {
  background: #0F4C75;
  color: white;
  cursor: pointer;
}
.scroll-menu input:checked + label {
  background: #1b262c;
  color: #1eb2a6;
  z-index: 6;
}

.tab-1 {
  text-align: center;
  padding: 30px 10px !important;
}

/* BEGIN - Scroll personalizado */
.scroll-menu::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll-menu::-webkit-scrollbar:vertical {
  width:10px;
}

.scroll-menu::-webkit-scrollbar-button:increment,
.scroll-menu::-webkit-scrollbar-button {
  display: none;
} 

.scroll-menu::-webkit-scrollbar:horizontal {
  background-color: #292828;
  height: 10px;  
}

.scroll-menu::-webkit-scrollbar-thumb {
  background-color: #024f49;
  border-radius: 20px;
  border: 1px solid #024f49;
}

.scroll-menu::-webkit-scrollbar-track {
  border-radius: 10px;  
}
/* END - Scroll personalizado */
